/* From the :root element you can easily change the colors of the design, its size and so on. */
:root {

    /* You can change the font family in the whole design here. (You need to add the font family to the codes.) */
    --font_family: 'Inter', sans-serif;
  
    /* You can change the font size here, is proportional to all texts. */
    --font_size: 16px;
  
    /* You can change the background color by typing the color code. (If you do not enter a background-image image, the background-color will be active.) */
    --background_color: #000;
    --background_image: url("../img/winter1.jpg");
  
    /* You can change the frame thickness and color of the picture by typing the number of pixels and the color code. */
    --image_border_color: #1f232e;
    --image_border_px: 3px;
  
    /* You can change the width and size of the picture by typing the number of pixels. */
    --image_width: 140px;
    --image_height: 140px;
  
    /* You can change the colors of the title and description section by typing the color codes. */
    --title_color: #fff;
    --description_color: #fff;
  
    /* You can change the colors of social media icons by changing the color code. */
    --svg_color: #fff;
  
    /* You can change the background, text color and active color of the menu by changing the color codes. */
    --menu_background_color: #1d1e24;
    --menu_text_color: #fff;
    --menu_active_text_color: #529de2;
  
    /* You can change the button's background, text color and active color by changing the color codes. */
    --button_background_color: #1d1e24;
    --button_text_color: #fff;
    --button_text_hover_color: #529de2;
  
  
    /* You can change the background, text color and active color of the text field by changing the color codes. */
    --textarea_background_color: #1d1e24;
    --textarea_text_color: #fff;
    --textarea_link_text_color:#529de2;
  
    /* You can change the background, text color and active color of the footer area by changing the color codes. */
    --footer_background_color: rgba(32, 32, 36, 0.851);
    --footer_text_color: #fff;
    --footer_link_text_color: #529de2;
  }
  
  /* Basic Codes */
  
  body {
    font: var(--font_size) var(--font_family);
    font-weight: 400;
    line-height: 1.5;
    background: var(--background_color) var(--background_image) no-repeat center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0; /* Add this line to reset margin */
  }
  
  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(115, 149, 167) rgb(17,31,42);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(17,31,42);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(115, 149, 167);
    border-radius: 20px;
    border: 3px solid rgb(17,31,42);
  }
  .intro,
  .intro a{
    color:#fff;
  }
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #000;		
  }
  
  .flex_column_center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  .flex_no_wrap_row_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  /* Logo, Title and Description Codes */
  
  .header_img {
    padding-top: 1em;
  }
  
  .header_img img {
    height: var(--image_height);
    width: var(--image_width);
    border: var(--image_border_px) solid var(--image_border_color);
    border-radius: 50%;
    margin-bottom: 0.5em;
  }
  
  .header_text h1 {
    color: var(--title_color);
    font-size: 2em;
  }
  .flex_row_center {
    display: flex;
    flex-direction: column; /* Change to column for mobile screens */
    justify-content: center;
    align-items: center;
  }
  
  .header_text h2 {
    color: var(--description_color);
    font-size: 1.5em;
    text-align: center; /* Center-align the text */
  }
  
  /* Add a media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .flex_row_center {
      text-align: center; /* Center-align text on mobile screens */
    }
  
    .header_text h2 {
      white-space: nowrap; /* Prevent text from wrapping */
      font-size: 1em;
      padding-left: 1em;
      padding-right: 1em;
    }
  
    .header_text h2::before {
      white-space: pre;
    }
  }
  
  /* Menu Codes */
  
  #header_nav_menu_item_1 {
    color: var(--menu_active_text_color);
  }
  
  #header_nav_menu_item_2,
  #header_nav_menu_item_3 {
    color: var(--menu_text_color);
  }
  
  
  .header_nav_menu_list {
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .header_nav_menu_item {
    color: var(--menu_text_color);
    background-color: var(--menu_background_color);
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.10s ease;
    font-size: 1.1em;
  }
  
  .header_nav_menu_item + .header_nav_menu_item {
    margin-left: 0.4em;
  }
  
  /* Menu Container Codes */
  
  main {
    margin-bottom: auto;
  }
  
  #main_section_container_2, #main_section_container_3 {
   display: none;
  }
  
  .main_a_item {
    margin-top: 1em;
    text-decoration: none;
  }
  
  .main_text_item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    width: 41em;
    margin-top: 1em;
    padding: 0.8em;
    border-radius: 0.5em;
    min-height: 3.7em;
    text-align: center;
  }
  
  .main_button_item {
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    width: 41em;
    border-radius: 1em;
    min-height: 3.7em;
    text-align: center;
    cursor: pointer;
  }
  
  
  .main_small_button_list {
    display: flex;
    flex-direction: row;
  }
  
  .main_small_a_item {
    margin-top: 1em;
    text-decoration: none;
  }
  
  
  .main_small_a_item + .main_small_a_item {
    margin-left: 10px;
  }
  
  .main_small_button_item:hover,
  .main_button_item:hover {
    color: var(--button_text_hover_color);
    transform: scale(1.02);
    transition: 0.10s ease;
  }
  
  .main_small_button_item {
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    width: calc(41em / 2 - 5px);
    border-radius: 1em;
    min-height: 3.7em;
    text-align: center;
    cursor: pointer;
  }
  
  /* CRIMIS LOOKIN AHHHHHHHH */
  /* im going to kms */
  
  /* customizable snowflake styling */
  .snowflake {
    color: #e9fffe;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  
  .crimis_button_item {
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    width: 22em;
    border-radius: 1em;
    min-height: 3.7em;
    text-align: center;
    cursor: pointer;
   
  }
  
  .main_small_crimis_button_list {
    display: flex;
    flex-direction: row;
  }
  
  .main_small_crimis_a_item {
    margin-top: 1em;
    text-decoration: none;
  }
  
  .main_tiny_crimis_a_item {
    margin-top: 1em;
    text-decoration: none;
  }
  
  
  .main_small_crimis_a_item + .main_small_crimis_a_item {
    margin-left: 10px;
  }
  
  .main_crimis_a_item + .main_small_crimis_a_item {
    margin-left: 10px;
  }
  
  .main_tiny_crimis_a_item + .main_crimis_a_item {
    margin-left: 10px;
  }
  
  .main_crimis_a_item {
    margin-top: 1em;
    text-decoration: none;
  }
  
  .main_small_crimis_button_item:hover,
  .main_crimis_button_item:hover {
    color: var(--button_text_hover_color);
    transform: scale(1.02);
    transition: 0.10s ease;
  }
  
  .main_tiny_crimis_button_item:hover,
  .crimis_button_item:hover {
    color: var(--button_text_hover_color);
    transform: scale(1.02);
    transition: 0.10s ease;
  }
  
  
  .main_small_crimis_button_item {
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    width: calc(30em / 2.3 - 5px);
    border-radius: 1em;
    min-height: 3.7em;
    text-align: center;
    cursor: pointer;
  }
  
  .main_tiny_crimis_button_item {
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    width: calc(30em / 4 - 5px);
    border-radius: 1em;
    min-height: 3.7em;
    text-align: center;
    cursor: pointer;
  }
  
  
  /* Footer Codes */
  
  .footer_div_item {
    color: var(--footer_text_color);
    background: var(--footer_background_color);
    padding: 1em;
    margin-top: 1.5em;
  }
  
  .footer_a_item {
    color: var(--footer_link_text_color);
    text-decoration: none;
  }
  
  .flex_row_footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    .flex_row_footer {
      flex-direction: column; /* Change to column for mobile screens */
      text-align: center; /* Center-align text on mobile screens */
    }
  
  }
  
  /* Responsive Codes */
  
  @media (max-width: 768px) { 
    .main_text_item {
      width: 92vw;
    }
  
    .main_small_button_item {
      width: calc(92vw / 2 - 5px);;
    }
  
    .main_button_item {
      width: 92vw;
    }
          .main_small_crimis_button_item {
      width: calc(92vw / 2 - 5px);
    }
  
    .main_tiny_crimis_button_item {
      width: calc(92vw / 2 - 5px);
    }
  
    .main_crimis_button_item {
      width: 92vw;
    }
  }
  